.App {
  text-align: center;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

/* 
button {
  font-size: 21px;
}

.jsx {
  color: red;
}

.person {
  width: 60%;
  margin: 1.5rem auto;
  border: 1px solid #eee;
  box-shadow: 0 2px 3px #ccc;
  padding: 16px;
  text-align: center;
  border-radius: 10px;
  font-size: 21px;
} 


.box1 {
  margin: 1rem;
}

.box1 input,
.box2 input {
  margin-left: 2rem;
  height: 30px;
  width: 300px;
} */

button {
  width: 80px;
  height: 40px;
  margin: 1rem;
  font-size: 20px;
}



